body {
    margin: 0;
    background: #ecf0f1;
    font-family: Arial, sans-serif;
}
header {
    background: #34495e;
    color: white;
    text-align: center;
    padding: 25px 0;
}

nav {
    background: #2c3e50;
    display: flex;
    justify-content: center;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 15px 20px;
    display: block;
}

nav a:hover {
    background: #1a252f;
}
.form {
    width: 330px;
    margin: 80px auto;
    padding: 25px;
    background: white;
    border: 2px solid #34495e;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
}

.form h3 {
    font-size: 28px;
    color: #2c3e50;
    margin-bottom: 20px;
}

.sign1 {
    display: flex;
    flex-direction: column;
    gap: 15px;
    color: #2c3e50;
}

.sign1 label {
    text-align: left;
    font-size: 18px;
    margin-left: 5px;
}

.sign1 input {
    background-color:#34495e;
    padding: 12px;
    border-radius: 10px;
    border: none;
    font-size: 18px;
    color: white;
}

.sign1 input:hover {
    background-color: #3f5165;
    transition: 0.3s;
}

.sign1 input:focus {
    outline: none;
    background-color: #3f5165;
    box-shadow: 0 0 10px #34495e;
}

.sign1 input::placeholder {
    color: rgba(255,255,255,0.8);
}


.btn {
    width: 100%;
    background-color:#34495e;
    color: white;
    font-size: 20px;
    padding: 12px;
    border-radius: 10px;
    border: 2px solid #34495e;
    margin-top: 10px;
    cursor: pointer;
}

.btn:hover {
    background-color: white;
    color:#34495e;
    transition: 0.3s;
}


.warning {
    text-align: center;
    margin-top: 20px;
    color:#34495e;
    font-size: 18px;
}

.a1 {
    color: #34495e;
    font-weight: bold;
    text-decoration: none;
}

.a1:hover {
    text-decoration: underline;
}

footer {
    text-align: center;
    background: #34495e;
    color: white;
    padding: 10px 0;
    margin-top: 90px;
}

