 body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f3f3f3;
}

header {
  background: #34495e;
  color: white;
  text-align: center;
  padding: 25px 0;
}

nav {
  background: #2c3e50;
  display: flex;
  justify-content: center;
}

nav a {
  color: white;
  text-decoration: none;
  padding: 15px 20px;
  display: block;
}

nav a:hover {
  background: #1a252f;
}

.hero {
  text-align: center;
  padding: 40px 0;
  background: #ecf0f1;
}

.form-container {
  width: 50%;
  margin: 40px auto;
  background: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 8px #bbb;
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

label {
  font-weight: bold;
}

select {
  padding: 12px;
  border: 1px solid #aaa;
  border-radius: 6px;
  font-size: 15px;
}

.btn {
  margin-top: 20px;
  padding: 15px;
  font-size: 18px;
  background: #3498db;
  border: none;
  color: white;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
  box-shadow: 0 0 5px #bbb;
}

.btn:hover {
  background: #2d86c9;
  transform: scale(1.03);
}

footer {
  text-align: center;
  background: #34495e;
  color: white;
  padding: 10px 0;
  margin-top: 60px;
}
